<h1>Signup</h1>
<form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <p>
        <label for="username">User Name</label>
        <input type="text" id="username" name="username" ngModel>
    </p>

    <p>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel>
    </p>

    <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel>
    </p>

    <p>
        <button type="submit">Submit</button>
    </p>
</form>