<div class="container">
    <h1>Signup</h1>
    <form class="form" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        <p class="form-group">
            <label for="username">User Name</label>
            <input class="form-control" type="text" id="username" name="username" ngModel>
        </p>
    
        <p class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" ngModel>
        </p>
    
        <p class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" ngModel>
        </p>
    
        <p class="form-group">
            <button class="btn btn-primary"  type="submit">Submit</button>
        </p>
    </form>
</div>